@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1920px;
  /* The Core Brand Colors */
  --color-kae-purple: #5c0a8a;
  /* The deep, rich violet background */
  --color-kae-pink: #ee9bc1;
  /* The soft bubblegum pink */

  /* Accents & Backgrounds */
  --color-kae-dark: #2d0545;
  /* An even darker purple for readable paragraph text */
  --color-kae-light: #fcf4f8;
  /* A very faint pinkish-white for section backgrounds */
  --font-pacifico: var(--font-pacifico);
  /*Font for logo*/

  --font-libertinus-serif: var(--font-libertinus-serif);
  --font-roboto: var(--font-roboto);
}

@layer components {
  .menu-label {
    @apply font-libertinus-serif text-kae-light text-lg font-medium 2xl:text-2xl;
  }
}